<!DOCTYPE html>
<html class="accommodations" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>accommodations</title>
      <div class="content" id="row1">

      </div>
      <div class="content" id="row2">

      </div>
      <div class="content" id="row3">

      </div>
  </head>
  <body>
  </body>
</html>
