<!DOCTYPE html>
<html class="accommodations" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>accommodations</title>
  </head>
  <body>
    <div class="content" id="row1">
      <div class="center">
        <img src="images/pick_up.png" class="circle">
        <br>
        <br>
        <h1>The Pick Up</h1>
        <p>
          Ajuntament de Valencia
          <br>
          Plaça de l'Ajuntament, 1
          <br>
          46002 València
          <br>
          <a href="https://goo.gl/maps/5RKnkU4GDvf9iYY37">View Map</a>
          <br>
          <br>
          For your convenience, we have arranged transportion to and from the venue. The shuttle will collect guests at the city center pick-up location and depart at 8:15PM. Shuttle service back to city center will start at 1:30AM in intervals of 30 minutes (1:30, 2:00, 2:30, etc.). The final shuttle will be determined by how long we keep the party going!
        </p>
      </div>
    </div>
    <div class="content" id="row2">
      <div class="center">
        <img src="images/hotels.png" class="circle">
        <br>
        <br>
        <h1>The Accommodations</h1>
        For our out of town guests, here are some recommendations for accomodations that are both centrally located and close to the shuttle pick-up location. The city hall plaza is also well-connected to public transportation if you are interested in exploring Valencia. Alternatively there are plenty of other hotels and AirBnBs in the local area. Please do let us know if you need any assistance with booking.
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-4">
            <a class="hotel" href='https://www.hostalam.com/'>Hostal Antigua Morellana</a>
          </div>
          <div class="col-4">
            <a class="hotel" href='https://www.melia.com/es/hoteles/espana/valencia/melia-plaza/index.htm'>Hotal Melia Plaza</a>
          </div>
          <div class="col-4">
            <a class="hotel" href='https://casualhoteles.com/hoteles-valencia/casual-valencia-vintage'>Hotel Casual Vintage</a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            <a class="hotel" href='https://creativeroomsvlc.com/'>Boutique Creative Rooms</a>
          </div>
          <div class="col-4">
          <a class="hotel" href='https://www.hotelvenecia.com/'>Hostal Venecia</a>
          </div>
          <div class="col-4">
          <a class="hotel" href='http://www.hostalmoratin.es/'>Hostal Moratin</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
