<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>accommodations</title>
  </head>
  <body>
    <h1>this is the accommodations page</h1>
    <a href='http://localhost:4000/home'><button>home</button></a>

  </body>
</html>
