<!DOCTYPE html>
<html class="afterparty" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>afterparty</title>
  </head>
  <body>
    <div class="content" id="row1">

    </div>
    <div class="content" id="row2">

    </div>
    <div class="content" id="row3">

    </div>
  </body>
</html>
