<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <h1>this is the home page</h1>
    <a href='http://localhost:4000/accommodations'><button>accommodations</button></a>
    <a href='http://localhost:4000/afterparty'><button>afterparty</button></a>
    <a href='http://localhost:4000/rsvp'><button>rsvp</button></a>
    <a href='http://localhost:4000/video'><button>video</button></a>


  </body>
</html>
