<!DOCTYPE html>
<html class="home" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <div class="content" id="row1">
      <div class="center">
        <img src="" alt="">
        <h1>The Reception</h1>
        <h3>20:30h</h3>
        <p>
          Masía Xamandreu
          <br>
          Carretera Godella - Bétera CV310, Km 4
          <br>
          46110 Godella, Valencia
          <br>
          <a href="https://goo.gl/maps/KgXPebFEz9QeU4kJ8">View Map</a>
        </p>
      </div>
    </div>
    <div class="content" id="row2">
      <div class="center">
        <img src="" alt="">
        <h1>The Dinner</h1>
        <h3>22:00h</h3>
        <p>
          Masía Xamandreu
          <br>
          Carretera Godella - Bétera CV310, Km 4
          <br>
          46110 Godella, Valencia
          <br>
          <a href="https://goo.gl/maps/KgXPebFEz9QeU4kJ8">View Map</a>
        </p>
      </div>
    </div>
    <div class="content" id="row3">
      <div class="center">
        <img src="" alt="">
        <h1>The Party</h1>
        <h3>00:30h</h3>
        <p>
          Masía Xamandreu
          <br>
          Carretera Godella - Bétera CV310, Km 4
          <br>
          46110 Godella, Valencia
          <br>
          <a href="https://goo.gl/maps/KgXPebFEz9QeU4kJ8">View Map</a>
        </p>
      </div>
    </div>
  </body>
</html>
