<!DOCTYPE html>
<html class="home" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <div class="content" id="row1">
      <div class="center">
        <img src="images/venue1.png" class="circle">
        <br>
        <br>
        <h1>The Venue</h1>
        <p>
          Masía Xamandreu
          <br>
          Carretera Godella - Bétera CV310, Km 4
          <br>
          46110 Godella, Valencia
          <br>
          <a href="https://goo.gl/maps/KgXPebFEz9QeU4kJ8" target="_blank">View Map</a>
        </p>
      </div>
    </div>
    <div class="content" id="row2">
      <div class="center">
        <img src="images/venue2.png" class="circle">
        <br>
        <br>
        <h1>The Schedule</h1>
        <p>
          20:30h - Welcome Cocktails
          <br>
          22:00h - Dinner
          <br>
          00:00h - Fiesta
          <br>
          <br>
          In accordance to Spanish tradition, we will be celebrating very late into night!
          <br>
        </p>
      </div>
    </div>
  </body>
</html>
