<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>rsvp</title>
  </head>
  <body>
    <h1>this is the rsvp page</h1>
    <a href='http://localhost:4000'><button>home</button></a>
    <% @rsvps.each do |rsvp| %>
			<div class="rsvp">
  			<p class="content"><%= rsvp.content %></p>
  			<p class="time"><%= rsvp.created_at %></p> 
			</div>
		<% end %>
  </body>
</html>
