<!DOCTYPE html>
<html class="video" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>video</title>
  </head>
  <body>
    <br>
    <br>
    <div class="box">
      <%= video_tag "/videos/Invite.mp4", :size => "360x640", :controls => true %>
    </div>
  </body>
</html>
