
#row2 {
  background-color: rgba(204, 146, 134, 0.1);
}

.content {
 font-family: "AsketExtended-Light";
 height: 60rem;
 position: relative;
}

@media (max-width: 900px) {
  .content {
    font-size: 1rem; }
}
@media (max-width: 750px) {
 .content {
   font-size: 1.2rem; }
}
@media (max-width: 400px) {
  .content {
    font-size: 1.1rem; }
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.hotel {
  font-size: 1.2rem;
  color: rgba(0, 0, 0);
  letter-spacing: 4px;
  display: table;
  margin: auto;
  height: 100%;
  max-width: 100%;
 }

.hotel:hover {
   color: grey;
   text-decoration: none;
}
