@import "rsvp.css";

@font-face {
  font-family: "BergenSans-Bold";
  src: url(./fonts/BergenSans-Bold.ttf);
}
@font-face {
  font-family: "AsketExtended-Light";
  src: url(./fonts/AsketExtended-Light.ttf);
}

 .home #photo-section {
   background: url(home.jpg);
   background-position: center;
   background-size: cover;
 }

 .accommodations #photo-section {
   background: url(accommodations.jpg);
   background-size: cover;
 }

 .afterparty #photo-section {
   background: url(afterparty.jpg);
   background-position: center;
   background-size: cover;
 }

 .rsvp #photo-section {
   background: url(rsvp.jpg);
   background-size: cover;
 }

 .video #photo-section {
   background: url(video.jpg);
   background-size: cover;
 }

#photo-section {
  text-align: center;
  border-radius: 0;
  color: white;
  height: 580px;
  max-width: 100%;
}

#filter {
  background-color: rgba(204, 146, 134, 0.3);
  height: 100%;
  max-width: 100%;
}

.names {
  font-family: "AsketExtended-Light";
  color: rgba(333, 333, 333, 0.7);
  letter-spacing: 1px;
}

.names:hover {
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

.section {
  font-size: 0.7rem;
  color: rgba(333, 333, 333, 0.5);
  letter-spacing: 2px;
  display: table;
  margin: auto;
  height: 100%;
  max-width: 100%;
 }

.section:hover {
  color: white;
  text-decoration: none;
 }

#greeting {
  font-family: "BergenSans-Bold";
  height: 80%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
 }

 #date {
  font-family: "AsketExtended-Light";
  color: #e5e5e5;
  height: 0%;
  display:flex;
  align-items: center;
  justify-content: center;
 }
