@import "rsvp.css";

@font-face {
  font-family: "BergenSans-Bold";
  src: url(./fonts/BergenSans-Bold.ttf);
}
@font-face {
  font-family: "AsketExtended-Light";
  src: url(./fonts/AsketExtended-Light.ttf);
}

.section {
  color: #e5e5e5;
  display: table;
  margin: auto;
 }

.section:hover {
  color: white;
  text-decoration: none;
 }

#photo-section {
  text-align: center;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
  height: 700px;
}

#filter {
  background-color: rgba(204, 146, 134, 0.3);
  height: 700px;
}

#navbar {
  font-size: 11px;
}

.names {
  color: white;
}

.names:hover {
  color: white;
  text-decoration: none;
}

#greeting {
  font-family: "BergenSans-Bold";
  height: 45%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
 }

 #date {
  font-family: "AsketExtended-Light";
  color: #e5e5e5;
  height: 10%;
  display:flex;
  align-items: center;
  justify-content: center;
 }
