@import "accommodation.css";
@import "afterparty.css";
@import "home.css";
@import "rsvp.css";
@import "video.css";

@font-face
{
  font-family: "BergenSans-Bold";
  src: url(./fonts/BergenSans-SemiBold.ttf);
}

@font-face
{
  font-family: "AsketExtended-Light";
  src: url(./fonts/AsketExtended-Light.ttf);
}

@font-face
{
  font-family: "AsketExtended-Light";
  src: url(./fonts/Windlesham-Pro-Light.ttf);
}

@media (max-width: 900px)
{
  html
  {
    font-size: 0.8rem;
  }
}

@media (max-width: 750px)
{
  html
  {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px)
{
  html
  {
    font-size: 0.9rem;
  }
  #large-view
  {
     display: none;
  }
  #small-view
  {
    display: flex;
  }
}

@media (min-width: 600px)
{
  html
  {
    font-size: 0.9rem;
  }
  #large-view
  {
     display: flex;
  }
  #small-view
  {
    display: none;
  }
}

.home #photo-section
{
  background: url(home.jpg);
  background-position: center;
  background-size: cover;
}

.accommodation #photo-section
{
  background: url(accommodation.jpg);
  background-position: center;
  background-size: cover;
}

.afterparty #photo-section
{
  background: url(afterparty.jpg);
  background-position: center;
  background-size: cover;
}

.rsvp #photo-section
{
  background: url(rsvp.jpg);
  background-position: center;
  background-size: cover;
}

.video #photo-section
{
  background: url(video.jpg);
  background-position: center;
  background-size: cover;
}

#photo-section
{
  text-align: center;
  border-radius: 0;
  color: white;
  height: 580px;
  max-width: 100%;
}

#filter
{
  background-color: rgba(204, 146, 134, 0.2);
  height: 100%;
  max-width: 100%;
}

.home #filter
{
  background-color: rgba(204, 146, 134, 0.2);
  height: 100%;
  max-width: 100%;
  background-image: linear-gradient(rgba(204, 146, 134, 0.2) 1%, rgba(204, 146, 134, 0));
}

.accommodation #filter
{
  background-color: rgba(204, 146, 134, 0.2);
  height: 100%;
  max-width: 100%;
  background-image: linear-gradient(rgba(204, 146, 134, 0.1) 1%, rgba(204, 146, 134, 0));
}

.index #filter
{
  background-color: rgba(204, 146, 134, 0.2);
  height: 100%;
  max-width: 100%;
  background-image: linear-gradient(rgba(204, 146, 134, 1), rgba(204, 146, 134, 0));
}

.names
{
  font-family: "AsketExtended-Light";
  color: rgba(333, 333, 333, 0.7);
  letter-spacing: 1px;
}

.names:hover
{
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

.section
{
  font-size: 0.7rem;
  color: rgba(333, 333, 333, 0.6);
  letter-spacing: 4px;
  display: table;
  margin: auto;
  height: 100%;
  max-width: 100%;
}

.section:hover
{
   color: white;
   text-decoration: none;
}

@media (max-width: 900px)
{
  .section
  {
    letter-spacing: 1px;
  }
}

@media (max-width: 750px)
{
 .section
 {
   letter-spacing: 2px;
 }
}

@media (max-width: 400px)
{
  .section
  {
    letter-spacing: 2px;
  }
}

#greeting
{
  font-family: "BergenSans-Bold";
  height: 80%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#date
{
  font-family: "AsketExtended-Light";
  color: #e5e5e5;
  height: 0%;
  display:flex;
  align-items: center;
  justify-content: center;
 }
