
.section {
   color: #e5e5e5;
   display: table;
   margin: auto;
 }

.section:hover {
     color: white;
     text-decoration: none;
 }

#photo-section {
  text-align: center;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
  height: 700px;
}

#navbar {
  font-size: 12px;
}

.names {
  color: white;
}

.names:hover {
  color: white;
  text-decoration: none;
}

#greeting {
    height: 45%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
 }

 #date {
   color: #e5e5e5;
       height: 50%;
       display:flex;
       align-items: center;
       justify-content: center;
 }
