
@media (max-width: 900px) {
  html {
    font-size: 0.8rem; }
}
@media (max-width: 650px) {
  html {
    font-size: 0.7rem; }
}
@media (max-width: 400px) {
  html { font-size: 0.6rem; }
}

.content {

  height: 800px;
}

#row2 {
  background-color: rgba(204, 146, 134, 0.1);

}
