
body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
}

.box
{
  font-family: "AsketExtended-Light";
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 25rem;
  height: auto;
  padding: 2.5rem;
  border: 0.0625rem solid rgba(204, 146, 134, 1);
  margin-bottom: 10%;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.7);
  border-radius: 0.625rem;
}

.afterparty .box
{
  top: 0%;
}

.box h2
{
  margin: 0 0 1.85rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box h5
{
  color: #fff;
}

.box .inputBox
{
  position: relative;
}

.box .inputBox textarea
{
    width: 100%;
}

.box .inputBox input
{
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.85rem;
  border: none;
  border-bottom: 0.0625rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label
{
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.0625rem;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.box .inputBox select-label
{
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.0625rem;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.875;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
  top: -1.125rem;
  left: 0;
  color: rgba(204, 146, 134, 1);
  font-size: 0.75rem;
}

.box input[type="submit"]
{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(204, 146, 134, 1);
  padding: 0.625rem 1.25em;
  cursor: pointer;
  border-radius: 0.3125em;
}
