
body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
}
.box
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 400px;
  height: 700px;
  padding: 40px;
  border: 1px solid rgba(204, 146, 134);
  margin-bottom: 10%;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.box h2
{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box .inputBox
{
  position: relative;
}
.box .inputBox input
{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .inputBox label
{
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.box .inputBox select-label
{
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
  top: -18px;
  left: 0;
  color: rgba(204, 146, 134);
  font-size: 12px;
}
.box input[type="submit"]
{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(204, 146, 134);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
