
@media (max-width: 900px) {
  html {
    font-size: 0.8rem; }
}
@media (max-width: 650px) {
  html {
    font-size: 0.7rem; }
}
@media (max-width: 400px) {
  html { font-size: 0.6rem; }
}

body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
}

.video .box
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 25rem;
  height: auto;
  padding: 1rem;
  border: 0.0625rem solid rgba(204, 146, 134);
  margin-bottom: 10%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.7);
  border-radius: 0.625rem;
}

video {
  width: 100%;
  height: auto;
  border-radius: 0.425rem;
  outline: none;
}
