<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS for styling and layout-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>MySite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="photo-section" >
      <div id="filter" class="jumbotron">
      <div id="navbar" class="container">
        <div class="row">
          <div class="col-2">
            <a class="section" href='/accommodations'>ACCOMMODATIONS</a>
          </div>
          <div class="col-2">
            <a class="section" href='/afterparty'>AFTERPARTY</a>
          </div>
          <div class="col-4">
            <a class="names" href='/'><h4>Christina & Alex</h4></a>
          </div>
          <div class="col-2">
            <a class="section" href='/rsvp'>RSVP</a>
          </div>
          <div class="col-2">
            <a class="section" href='/video'>VIDEO</a>
          </div>
        </div>
      </div>
      <div id="greeting" class="greeting">
        <h1>Celebrate with us!</h1>
      </div>
      <br>
      <div id="date" class="date">
        <p>Valencia May 23, 2020.</p>
      </div>

      </div>
    </div>
    <%= yield %>
  </body>
</html>
