<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS for styling and layout-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>MySite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <a href='http://localhost:4000/accommodations'><button>accommodations</button></a>
        </div>
        <div class="col-2">
          <a href='http://localhost:4000/afterparty'><button>afterparty</button></a>
        </div>
        <div class="col-4">
          <a href='http://localhost:4000'><button>Christina & Alex</button></a>
        </div>
        <div class="col-2">
          <a href='http://localhost:4000/rsvp'><button>rsvp</button></a>
        </div>
        <div class="col-2">
          <a href='http://localhost:4000/video'><button>video</button></a>
        </div>
      </div>  
    </div>
    <%= yield %>
  </body>
</html>
